/* Estilo Geral*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'IBM Plex Serif', serif;
  }
  
  body {
  background-color: #000;
  height: 100vh;
  }
  
  .interface {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .flex{
    display: flex;
  }
  
  h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
  }

  h2.titulo span{
    color: #61aa03;
    
  }
  h4.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
  }

  h4.titulo span{
    color: #61aa03;
    
  }

  
  /* Estilo do cabeçalho*/
  header{
    padding: 40px 4%;
  }
  
  header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header a{
    color:#7d7d7d;
    text-decoration: none;
    display:inline-block;
    transition: .2s;
  }

  header a:hover{
    color:#fff;
    transform: scale(1.05);

  }

  header nav ul{
    list-style-type: none;
  }

  header nav ul li{
    display: inline-block;
    padding: 0 40px;
  }
  
  header .frase-home{
    font-size: 10px;
    font-weight: 200;
    color: #fff;
    display:inline-block;
    padding: 0 10%;
  }



  /* Estilo do topo do site*/
  section.topo-do-site{
    padding: 20px 6%;
  }
  
  section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 80px;
  }
  
  .topo-do-site .txt-topo-site h1{
    color: #fff;
    font-size: 42px;
  }

  .topo-do-site .txt-topo-site h1 span{
    color:#61aa03;
  }

  .topo-do-site .txt-topo-site p{
    color:#fff;
    margin: 40px 0;
  }

  .topo-do-site .txt-topo-site .btn-renda button:hover{
    box-shadow: 0px 0px 8px #c2ff7296;
    transform: scale(1.05)
  }

  .topo-do-site .txt-topo-site .btn-renda{
    display: inline-block;
    justify-content: space-between;
  }

  .topo-do-site .btn-renda button{
    padding:10px 40px;
    font-size:18px;
    font-weight: 600;
    background-color: #C1FF72;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    
  }

  .topo-do-site .img-topo-site img{
    position:relative;
    animation: flutuar 2s ease-in-out infinite alternate;
  }

  
  
  @keyframes flutuar{
    0%{
      top: 0;
    }
    100%{
      top: 30px;
    }
   
   
  }

  /*ESTILO RENDA FIXA*/

  section.renda-fixa{
    padding:40px 4%;

  }
  
  section.renda-fixa .flex{
    gap: 60px;

  }

  .renda-fixa .renda-fixa-box{
    color:#fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
  }

  .renda-fixa .renda-fixa-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff70;
  }

  .renda-fixa .renda-fixa-box i{
    font-size: 70px;
    color: #61aa03;
  }

  .renda-fixa .renda-fixa-box h3{
    font-size: 26px;
    margin: 15px 0;
  }

  .renda-fixa .renda-fixa-box a{
    color:#fff;
    text-decoration: none;
    transition: .2s;
  }

  .renda-fixa .renda-fixa-box a:hover{
    color:#7d7d7d;
    transform: scale(1.05);
  }


  /*ESTILO LCI*/

  section.LCI-LCA{
    padding:40px 4%;

  }

  .LCI-LCA .renda-fixa-box{
    color:#fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10%;
    box-shadow: 0 0 8px #fff;
    
  }


  .LCI-LCA .renda-fixa-box i{
    font-size: 40px;
    color: #61aa03;
  }

  .LCI-LCA .renda-fixa-box h4{
    font-size: 26px;
    margin: 15px 0;
  }

  .LCI-LCA .renda-fixa-box p span{
    color:#61aa03;
    font-weight: bold;
  }
